/* The shopping cart section */
	.shopping-cart__cont {
		grid-template-columns: 100%;
		align-items: start;
		
		/* @media only screen and (min-width: 480px) and (max-width: 1024px) {
			grid-template-columns: 100%;
		} */

		@media only screen and (min-width: 768px) {
			grid-template-columns: repeat(2, auto);
		}
	}

	.cart-items__empty-cart-message {
		width: 100%;
		padding: var(--spacing-06);

		* {
			width: 100%;
			text-align: center;
		}
	}

	.cart-summary {
		position: sticky;
		top: var(--layout-05);
	}
	.cart-summary__subtotal {
		align-items: center;
	}
	.cart-summary__checkout .button {
		width: 100%;
	}


	.cart-item {
		/* The panel itself */
		gap: var(--spacing-05);

	}
	.cart-item__img {
		/* The product's image */
		height: calc(8 * var(--sizing-factor)); /* This image defines the width of the entire panel */
		object-fit: cover;
		aspect-ratio: 1 / 1;
		border-radius: var(--spacing-02);
		box-shadow: var(--effect-shadow);
		
		@media only screen and (min-width: 480px) and (max-width: 1024px) {
			height: calc(12 * var(--sizing-factor)); /* This image defines the width of the entire panel */
		}
		
		@media only screen and (min-width: 1024px) {
			height: calc(16 * var(--sizing-factor)); /* This image defines the width of the entire panel */
		}
	}
	.cart-item__info {
		width: 100%;
		justify-content: space-between;
		align-self: stretch;
	}
	.cart-item__top-bar {
		justify-content: space-between;
	}
	.cart-item__title {
		/* The product's name */
		height: 100%;
		margin-top: 3px;
	}
	.cart-item__close-icon {
		height: var(--spacing-06);
	}
	.cart-item__buttons,
	.cart-item__button--view,
	.cart-item__button--cart {
		width: 100%;
	}
	.cart-item__colour {
		align-items: center;
		display: none;
		
		@media only screen and (min-width: 480px) {
			display: inherit;
		}
	}
	.cart-item__colour__name {
		margin: 0;
	}
	.cart-item__total {
		margin-bottom: 5px;
	}


	.featured-products {
		margin-bottom: var(--layout-05);
	}	