<!-- This is added into an <article> with the classes "featured-product", "flex--vertical" and "standard-spacing" -->
	<img class="featured-product__img">
	<strong class="featured-product__title"></strong>
	<div>
		<h3 class="featured-product__price"></h3>
	</div>
	<div class="featured-product__buttons flex--horizontal standard-spacing">
		<button class="featured-product__buttons_view button no-padding--horizontal" aria-label="View">
			<span class="button__label">View</span>
			<img src="assets/icons/arrow-right.svg" class="button__action-symbol" alt="Right arrow icon">
		</button>
		<button class="featured-product__buttons_heart button" aria-label="Toggle Wishlist">
			<img src="assets/icons/heart--dark.svg" class="button__action-symbol" alt="Heart">
		</button>
	</div>
	<button class="featured-product__cart-button button no-padding--horizontal" aria-label="Add to Cart">
		<span class="button__label">Add to Cart</span>
		<img src="assets/icons/arrow-right.svg" class="button__action-symbol" alt="Right arrow icon">
	</button>