<!-- This is added into a <footer> on the respective page with the classes "page-footer" and "grid" -->
	<!-- The logo and brand name -->
	<a class="logo logo--footer grid standard-spacing" href="/">
		<img src="../assets/icons/logo.svg" alt="The brand logo">
		<h2>Micro Aquatic Shop</h2>
	</a>

	<div class="footer-list footer-list--policies flex--vertical">
		<h4>Our Policies</h4>
		<a class="link">Privacy Policy</a>
		<a class="link">Shipping Policy</a>
		<a class="link">Refund & Return Policy</a>
		<a class="link">Terms & Conditions</a>
		<a class="link">Billing Terms & Conditions</a>
		<a class="link">Data Protection Policy</a>
		<a class="link">Stock Control Policy</a>
		<a class="link">RSPCA Policy</a>
	</div>
	<div class="footer-list footer-list--links flex--vertical">
		<h4>Useful Links</h4>
		<a class="link">FAQs</a>
		<a class="link">Contact Us</a>
		<a class="link">Support Services</a>
		<a class="link">Affiliate Program</a>
		<a class="link">About Us</a>
	</div>
	<div class="footer-list footer-list--contact flex--vertical">
		<h4>Contact Details</h4>
		<p><strong>Address:</strong> <a class="link">Unit 15, 2-8 Daniel St,<br>Wetherill Park NSW 2164</a></p>
		<p><strong>Phone:</strong> <a class="link">(02) 8320 3037</a></p>
		<p><strong>Email:</strong> <a class="link">support@microaquaticshop.com.au</a></p>
	</div>

	<div class="footer-copyright-bar panel">
		<p class="footer-copyright-bar__copyright">© 2024 Micro Aquatic Shop. All rights reserved.</p>
		<div class="footer-copyright-bar__cards standard-spacing">
			<img src="/assets/icons/card-visa.svg">
			<img src="/assets/icons/card-mastercard.svg">
			<img src="/assets/icons/card-maestro.svg">
			<img src="/assets/icons/card-amex.svg">
			<img src="/assets/icons/card-shop.svg">
			<img src="/assets/icons/card-paypal.svg">
			<img src="/assets/icons/card-apple.svg">
			<img src="/assets/icons/card-google.svg">
		</div>
	</div>