<!-- This is added into a <footer> on the respective page with the classes "page-footer" and "grid" -->
	<!-- The logo and brand name -->
	<div class="logo logo--footer grid standard-spacing">
		<img src="/assets/icons/logo.svg" alt="The brand logo">
		<h3>Micro Aquatic Shop</h3>
	</div>

	<div class="footer-list footer-list--policies flex--vertical">
		<h3>Our Policies</h3>
		<a>Privacy Policy</a>
		<a>Shipping Policy</a>
		<a>Refund & Return Policy</a>
		<a>Terms & Conditions</a>
		<a>Billing Terms & Conditions</a>
		<a>Data Protection Policy</a>
		<a>Stock Control Policy</a>
		<a>RSPCA Policy</a>
	</div>
	<div class="footer-list footer-list--links flex--vertical">
		<h3>Useful Links</h3>
		<a>FAQs</a>
		<a>Contact Us</a>
		<a>Support Services</a>
		<a>Affiliate Program</a>
		<a>About Us</a>
	</div>
	<div class="footer-list footer-list--contact flex--vertical">
		<h3>Contact Details</h3>
		<p><strong>Address:</strong> <a>Unit 15, 2-8 Daniel St,<br>Wetherill Park NSW 2164</a></p>
		<p><strong>Phone:</strong> <a>(02) 8320 3037</a></p>
		<p><strong>Email:</strong> <a>support@microaquaticshop.com.au</a></p>
	</div>

	<div class="footer-copyright-bar panel">
		<p class="footer-copyright-bar__copyright">© 2024 Micro Aquatic Shop. All rights reserved.</p>
		<div class="footer-copyright-bar__cards standard-spacing">
			<img src="/assets/icons/card-visa.svg">
			<img src="/assets/icons/card-mastercard.svg">
			<img src="/assets/icons/card-maestro.svg">
			<img src="/assets/icons/card-amex.svg">
			<img src="/assets/icons/card-shop.svg">
			<img src="/assets/icons/card-paypal.svg">
			<img src="/assets/icons/card-apple.svg">
			<img src="/assets/icons/card-google.svg">
		</div>
	</div>