<!-- This is added into a <section> on the respective page with the classes "fullscreen-menu" and "flex--horizontal" -->
	<header class="page-header flex--horizontal standard-spacing">
		<!-- Close and search icons -->
		<div class="collapsed-navbar flex--horizontal">
			<img onclick="closeFullscreenMenu();" class="collapsed-navbar__icon" src="assets/icons/cross.svg" alt="Close">
			<img class="collapsed-navbar__icon" src="assets/icons/search.svg" alt="Magnifying glass">
		</div>

		<!-- Wishlist and cart icons -->
		<div class="navbar__purchasing-icons flex--horizontal standard-spacing">
			<a href="wishlist/">
				<img class="navbar__icon" src="assets/icons/heart.svg" alt="Wishlist">
			</a>
			<a href="cart/">
				<img class="navbar__icon" src="assets/icons/shopping-bag.svg" alt="Shopping bag">
			</a>
		</div>
	</header>

	<div class="daily-featured-product-cont flex--vertical">
		<h3>Today's Featured Product</h3>
		<article class="daily-featured-product panel flex--horizontal">
			<img class="daily-featured-product__img" src="assets/images/featured-guppy.jpg" alt="A photo of the Dumbo Mosaic Guppy">
			<div class="daily-featured-product__info flex--vertical">
				<h4 class="daily-featured-product__title">Dumbo Mosaic Guppy</h4>
				<h2 class="daily-featured-product__total">$4.99</h2>
			</div>
		</article>
	</div>

	<div class="fullscreen-menu__page-links-cont flex--vertical">
		<!-- Account page -->
		<a class="link h2">My Account</a>

		<!-- Divider -->
		<div class="fullscreen-menu__page-links-cont__divider"></div>

		<!-- Home page -->
		<a class="link h2" href="">Home</a>
		<!-- Shop page -->
		<a class="link h2" href="categories/">Shop</a>
		<!-- Blog page -->
		<a class="link h2">Blog</a>
		<!-- About page -->
		<a class="link h2">About</a>
	</div>