<!-- This is added into a <header> on the respective page with the classes "page-header", "flex--horizontal" and "standard-spacing" -->
	<!-- The logo and brand name -->
	<a class="logo grid standard-spacing" href="/">
		<img src="/assets/icons/logo.svg" alt="The brand logo">
		<h3>Micro Aquatic Shop</h3>
	</a>

	<!-- The navbar -->
	<div class="navbar flex--horizontal">
		<!-- Search icon -->
		<img class="navbar__icon" src="/assets/icons/search.svg" alt="Magnifying glass">

		<!-- Divider -->
		<!-- TODO replace dividers with SVGs -->
		<div class="header-divider"></div>

		<!-- Pages -->
		<!-- Home page -->
		<a class="link" href="/">Home</a>
		<!-- Shop page/dropdown -->
		<div class="navbar__drop-down flex--horizontal">
			<!-- TODO update href -->
			<a class="link" href="#top">Shop</a>
			<img class="navbar__drop-down__arrow" src="/assets/icons/arrow-down.svg" alt="Down arrow">
		</div>
		<!-- Blog page -->
		<!-- TODO update href -->
		<a class="link" href="#top">Blog</a>
		<!-- About page/dropdown -->
		<div class="navbar__drop-down flex--horizontal">
			<!-- TODO update href -->
			<a class="link" href="#top">About</a>
			<img class="navbar__drop-down__arrow" src="/assets/icons/arrow-down.svg" alt="Down arrow">
		</div>

		<!-- Divider -->
		<div class="header-divider"></div>
		
		<!-- Link to login or account page -->
		<!-- TODO update href -->
		<a class="link" href="/">Login &#47; Sign up</a>

		<!-- Divider -->
		<div class="header-divider"></div>

		<!-- Wishlist and cart icons -->
		<div class="navbar__purchasing-icons flex--horizontal standard-spacing">
			<img class="navbar__icon" src="/assets/icons/heart.svg" alt="Heart">
			<img class="navbar__icon" src="/assets/icons/shopping-bag.svg" alt="Shopping bag">
		</div>
	</div>