<!-- This is added into a <header> on the respective page with the classes "page-header", "flex--horizontal" and "standard-spacing" -->
	<div class="collapsed-navbar flex--horizontal">
		<img onclick="openFullscreenMenu();" class="collapsed-navbar__icon" src="assets/icons/hamburger.svg" alt="Menu">
		<img class="collapsed-navbar__icon" src="assets/icons/search.svg" alt="Magnifying glass">
	</div>
	
	<!-- The logo and brand name -->
	<a class="logo grid standard-spacing" href="/">
		<img src="assets/icons/logo.svg" alt="The brand logo">
		<h4>Micro Aquatic Shop</h4>
	</a>
	

	<!-- The navbar -->
	<div class="navbar flex--horizontal">
		<!-- Search icon -->
		<img class="navbar__icon" src="assets/icons/search.svg" alt="Magnifying glass">

		<!-- Divider -->
		<!-- TODO replace dividers with SVGs -->
		<div class="header-divider"></div>

		<!-- Pages -->
		<!-- Home page -->
		<a class="link" href="/">Home</a>
		<!-- Shop page/dropdown -->
		<div class="navbar__drop-down flex--horizontal">
			<!-- TODO update href -->
			<a class="link" href="categories/">Shop</a>
			<img class="navbar__drop-down__arrow" src="assets/icons/arrow-down.svg" alt="Down arrow">
			<div class="header__dropdown-menu panel flex--horizontal visibility-none">
				<div class="header__dropdown-menu__list flex--vertical">
					<h4>Discover</h4>
					<a class="link">Featured products</a>
					<a class="link">New arrivals</a>
					<a class="link">Best sellers</a>
					<a class="link"><strong>ON SALE</strong></a>
				</div>
				<div class="header__dropdown-menu__list flex--vertical">
					<h4>Animals</h4>
					<a class="link" href="/categories/shrimp/">Shrimp</a>
					<a class="link">Fish</a>
					<a class="link">Snails</a>
					<a class="link">Algae Eaters</a>
				</div>
				<div class="header__dropdown-menu__list flex--vertical">
					<h4>Aquascaping</h4>
					<a class="link">Plants</a>
					<a class="link">Bonsai</a>
					<a class="link">Décor</a>
					<a class="link">Flooring</a>
				</div>
				<div class="header__dropdown-menu__list flex--vertical">
					<h4>Supplies</h4>
					<a class="link">Tanks</a>
					<a class="link">Accessories</a>
					<a class="link">Tools</a>
					<a class="link">Food</a>
				</div>
			</div>
		</div>
		<!-- Blog page -->
		<!-- TODO update href -->
		<a class="link">Blog</a>
		<!-- About page/dropdown -->
		<div class="navbar__drop-down flex--horizontal">
			<!-- TODO update href -->
			<a class="link">About</a>
			<img class="navbar__drop-down__arrow" src="assets/icons/arrow-down.svg" alt="Down arrow">
		</div>

		<!-- Divider -->
		<div class="header-divider"></div>
		
		<!-- Link to login or account page -->
		<!-- TODO update href -->
		<a class="link" href="/">Login &#47; Sign up</a>

		<!-- Divider -->
		<div class="header-divider"></div>

		<!-- Wishlist and cart icons -->
		<div class="navbar__purchasing-icons flex--horizontal standard-spacing">
			<a href="">
				<img class="navbar__icon" src="assets/icons/heart.svg" alt="Wishlist">
			</a>
			<a href="cart/">
				<img class="navbar__icon" src="assets/icons/shopping-bag.svg" alt="Shopping bag">
			</a>
		</div>
	</div>

	
