<!-- This is added into an <article> with the classes "homepage-review", "flex--vertical" and "standard-spacing" -->
	<h4 class="homepage-review__name"></h4>
	<div class="homepage-review__stars-cont flex--horizontal">
		<img src="assets/icons/star.svg" class="homepage-review__stars-cont__star">
		<img src="assets/icons/star.svg" class="homepage-review__stars-cont__star">
		<img src="assets/icons/star.svg" class="homepage-review__stars-cont__star">
		<img src="assets/icons/star.svg" class="homepage-review__stars-cont__star">
		<img src="assets/icons/star.svg" class="homepage-review__stars-cont__star">
	</div>
	<p class="homepage-review__text"></p>