<!-- This is added into an <article> with the classes "product--listed", "flex--vertical" and "standard-spacing" -->
	<img class="product--listed__img">
	<h4 class="product--listed__title"></h4>
	<div class="product--listed__colour flex--horizontal standard-spacing">
		<div class="product--listed__colour__swatch colour-swatch"></div>
		<p class="product--listed__colour__name"></p>
	</div>
	<div>
		<h3 class="product--listed__price"></h3>
	</div>
	<div class="product--listed__buttons flex--horizontal standard-spacing">
		<a class="product--listed__button--view button button--secondary no-padding--horizontal" aria-label="View">
			<span class="button__label">View</span>
			<img src="assets/icons/arrow-right.svg" class="button__action-symbol" alt="Right arrow icon">
		</a>
		<button class="product--listed__button--heart button button--secondary button--icon-only" aria-label="Toggle Wishlist">
			<img class="button__icon" src="assets/icons/heart--dark.svg" alt="Heart">
		</button>
	</div>
	<button class="product--listed__button--cart button button--primary no-padding--horizontal stop-propagation" aria-label="Add to Cart">
		<span class="button__label">Add to Cart</span>
		<img src="assets/icons/arrow-right.svg" class="button__action-symbol" alt="Right arrow icon">
	</button>