.checkout-cont {
	grid-template-columns: 7fr 5fr;
	padding-bottom: var(--layout-04);
	align-items: end;
}

/* The payment details column */
	/* Express checkout */
		.payment-details-cont {
			gap: var(--layout-02);
		}
		.express-checkout__services {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			width: 100%;
		}
		.express-checkout__services__button {
			width: 100%;
		}
		.express-checkout__services__button img {
			height: var(--spacing-07);
		}
		.express-checkout__services__button--shop {
			background: #5A31F4;
		}
		.express-checkout__services__button--paypal {
			background: #ffd140;
		}
		.express-checkout__services__button--google-pay,
		.express-checkout__services__button--apple-pay {
			background: #ffffff;
		}
		
		.horizontal-text-forms {
			width: 100%;
		}
		.text-form--city {
			flex: 2;
		}
		.text-form--region {
			flex: 3;
		}
		.text-form--postcode {
			flex: 2;
		}

		.delivery-details__shipping-total {
			width: 100%;
			justify-content: space-between;
			align-items: center;
			margin-top: var(--layout-01);
			padding: 0 var(--spacing-02);
		}

		.checkout-order-item {
			/* The panel itself */
			gap: var(--spacing-05);
			align-items: center;
			
		}
		.checkout-order-item__img {
			/* The product's image */
			height: calc(5 * var(--sizing-factor)); /* This image defines the width of the entire panel */
			object-fit: cover;
			aspect-ratio: 1 / 1;
			border-radius: var(--spacing-05);
			box-shadow: var(--effect-shadow);
		}
		.checkout-order-item__info {
			width: 100%;
			margin-top: 5px;
		}

		.order-details-cont {
			position: sticky;
			bottom: var(--layout-04);
		}
		.order-summary__discount {
			width: 100%;
		}
		.order-summary__discount__button {
			border-radius: var(--spacing-04);
		}
		.order-summary__info {
			grid-template-columns: repeat(2, auto);
			width: 100%;
			gap: var(--spacing-02);
			padding: var(--spacing-02);

			* {
				margin: 0;
			}
		}
		.order-summary__checkout-button {
			width: 100%;
		}