:root {
	/* Basic white and black colours */
	--white: #ffffff;
	--black: #000000;

	/* Typography is usually white - also with a dulled (dk), a filler text (dkr) and an opposite contrast (black on white) variant  */
	--clr-text: var(--white);
	--clr-text-dk: #D3F0FD;
	--clr-text-dkr: #8CA7B2;
	--clr-text-opposite: var(--clr-background-lt);

	/* Background colour - deep navy */
	--clr-background: #000B0E;
	--clr-background-lt: #00151C;

	/* Brand accent colour - light aqua */
	--clr-accent: #92FFFF;
	
	/* Gradient colours (underwater colours, aquas and cyans) */
	--clr-gradients-green: #56B454;
	--clr-gradients-aqua-lt: #4295B0;
	--clr-gradients-aqua-dk: #115271;
	--clr-gradients-cyan-lt: #47B8B1;
	--clr-gradients-cyan-dk: #194444;

	/* Star rating colour - yellow */
	--clr-rating: #E2BC36;

	/* Colours for glass elements (panels) */
	--clr-glass-stroke: linear-gradient(to bottom right, #87b6cb, #00151C);
	--clr-glass-gradient: linear-gradient(to bottom right, #4DA5C380, #153F4D40);

	/* Gradients for buttons */
	--clr-button-gradient: linear-gradient(to bottom right, #ffffff00, #00000033), var(--clr-text-dk);
	--clr-button-gradient--cta: linear-gradient(to bottom right, #ffffff00, #00000033), var(--clr-accent);
}