/* HEADER */
	.page-header {
		width: 100%;
		height: var(--spacing-xl);
		z-index: 100;
	}
	.page-header > * {
		height: 100%;
		align-items: center;
	}

	/* The brand logo */
	.icon {
		grid-template-columns: auto 1fr;
	}
	.icon h3 {
		margin-top: 6px;
	}

	/* The navbar */
	.header-divider {
		height: 80%;
		width: 1px;
		background-color: var(--clr-text);
		border-radius: 0.5px;
		margin: auto var(--spacing-2xs); /* Making the divider vertically centred */
	}
	.navbar {
		gap: var(--spacing-m); /* The navbar has larger spacing than most flexboxes */
	}
	.navbar__icon {
		height: var(--spacing-xl);
		aspect-ratio: 1 / 1;
	}
	.navbar__drop-down {
		column-gap: var(--spacing-xs);
	}
	.navbar__drop-down__arrow {
		height: var(--spacing-s);
		margin-top: 3px;
	}






/* Featured products */
	.featured-product {
		scroll-snap-align: center; /* Making the featured products have snapped scrolling */
	}
	.featured-product__img {
		width: calc(11 * var(--sizing-factor));
		object-fit: cover;
		aspect-ratio: 1 / 1;
		border-radius: var(--spacing-xs);
		box-shadow: var(--effect-shadow);
	}
	.featured-product__title {
		height: 100%;
	}
	.featured-product__buttons {
		width: 100%;
	}
	.featured-product__buttons_view {
		width: 100%;
	}
	.featured-product__buttons_heart {
		aspect-ratio: 1 / 1;
		height: 100%;
		padding: var(--spacing-s);
	}
	.featured-product__buttons_heart img {

		height: 100%;
	}
	.featured-product__cart-button {
		width: 100%;
	}





/* Footer */
	.page-footer {
		display: grid;
		grid-template-areas: 
			"footer-logo footer-logo footer-logo"
			"footer-policies footer-links footer-contact"
			"footer-copyright footer-copyright footer-copyright"
		;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--layout-04);
		margin: var(--layout-02);
	}
	
	.logo--footer {
		grid-area: footer-logo;
		margin: 0 auto;
	}
	.footer-list--policies {
		grid-area: footer-policies;
	}
	.footer-list--links {
		grid-area: footer-links;
	}
	.footer-list--contact {
		grid-area: footer-contact;
	}
	.footer-copyright-bar {
		grid-area: footer-copyright;
		flex-direction: row; /* This is specified here (instead of using a utility class) since this changes depending on resolution */
		align-items: center;
		justify-content: center;
		gap: var(--spacing-05);
	}
	
	.footer-list {
		align-items: center;
		gap: var(--spacing-02);
	}
	.footer-list * {
		text-align: center;
		margin: 0;
	}
	.footer-copyright-bar__copyright {
		font-size: calc(0.8 * var(--font-size-factor));
	}
	.footer-copyright-bar__cards {
		flex-wrap: wrap;
	}