/* Universal styles for buttons */
	.button {
		/* Default button component */
		padding: var(--spacing-03) var(--spacing-05);
		border-radius: var(--spacing-03);
		background: var(--clr-button-gradient);
		border: none;	/*Disabling the default styling*/
		font-family: inherit;
		color: var(--clr-text-opposite);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--spacing-02);
		background-blend-mode: luminosity, normal;
		box-shadow: var(--effect-shadow);
		transition: var(--effect-transition-duration);
		-webkit-transition: var(--effect-transition-duration);
		-moz-transition: var(--effect-transition-duration);
		-ms-transition: var(--effect-transition-duration);
		-o-transition: var(--effect-transition-duration);
		
		.button__label {
			/* The label inside a button - due to the font, by default it appears slightly vertically misaligned, so this fixes that by offsetting it down */
			margin-top: 2.5px;
		}

		&:focus,
		&:focus-visible {
			outline: none;
			box-shadow: 0px 0px 10px 10px var(--clr-gradients-aqua-lt);
		}
		
		&:hover {
			cursor: pointer;
			filter:brightness(0.8);
			-webkit-filter:brightness(0.8);
		}

		&:active {
			cursor: pointer;
			filter: brightness(0.8);
			-webkit-filter: brightness(0.8);
			transform: scale(0.95);
			-webkit-transform: scale(0.95);
			-moz-transform: scale(0.95);
			-ms-transform: scale(0.95);
			-o-transform: scale(0.95);
		}
	}

	/* Call-to-action (cta) buttons */
	.button--cta {
		background: var(--clr-button-gradient--accent);

		.button__label {
			margin-top: 3px;
		}
	}

	/* Primary buttons */
	.button--primary {
		background: var(--clr-button-gradient--accent);
	}

	/* Secondary buttons */
	.button--secondary {
		background: var(--clr-button-gradient); /* Same as default background */
		
		.button__icon {
			height: 100%;
			aspect-ratio: 1 / 1;
		}

		.button__logo {
			height: var(--spacing-06);
			margin-left: calc(-1 * var(--spacing-03));
			margin-right: var(--spacing-01);
		}
	}

	/* Tertiary buttons */
	.button--tertiary {
		background: var(--clr-button-gradient); /* Same as default background */
		border-radius: 100%;
		
		.button__icon {
			height: var(--spacing-05);
			aspect-ratio: 1 / 1;
		}
	}

	/* Information buttons */
	.button--info {
		color: var(--clr-text);
		padding: var(--spacing-04);
		background: var(--clr-glass-gradient--button);
		border: 0.6px solid #00000040;
		justify-content: space-between;
		text-align: left;
		width: 100%;

		.button__label {
			width: 100%;
		}
		.button__label--stack {
			margin: var(--spacing-02) 0 var(--spacing-02) var(--spacing-03);
		}
		.button__label--heading {
			line-height: 1.8;
		}

		.button__logo {
			height: var(--spacing-06);
			aspect-ratio: 1 / 1;
			margin-right: var(--spacing-01);
		}
	}

	/* Buttons that only have an icon in them */
	.button--icon-only {
		padding: var(--spacing-03);
	}

	
	.button__action-symbol {
		/* This is the icon that appears on the right side of the button, usually to aid in legibility and user flow, such as a right arrow */
		height: var(--spacing-04);
		margin-right: -4px;
	}

	/* Carousel buttons (left and right buttons for horizontal scrolling) */
	.carousel-button-cont {
		position: absolute;
		height: 100%;
		top: 0;
		display: flex;
		align-items: center;
	}
	.carousel-button-cont--left {
		left: var(--layout-04);
	}
	.carousel-button-cont--right {
		right: var(--layout-04);
	}
	





/* Universal styles for panels */
	.panel {
		padding: var(--spacing-03);
		border-radius: var(--spacing-04);
		background: var(--clr-glass-gradient);
		box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.15);
		border: 0.3px solid #00000040;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
		background-clip: padding-box; /* Without this the border doesn't display properly on the rounded corners */
		backdrop-filter: blur(30px);
	}
	.panel--highlighted-section {
		/* This is a panel which appears in/on a highlighted section */
		padding: var(--spacing-06);
		border-radius: var(--spacing-06);
	}