.featured-product {
	scroll-snap-align: center; /* Making the featured products have snapped scrolling */
}
.featured-product__img {
	width: calc(11 * var(--sizing-factor));
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border-radius: var(--spacing-02);
	box-shadow: var(--effect-shadow);
}
.featured-product__title {
	height: 100%;
}
.featured-product__buttons,
.featured-product__button--view,
.featured-product__button--cart {
	width: 100%;
}