.featured-product {
	/* The product panel itself */
	scroll-snap-align: center; /* Making the featured products have snapped scrolling */
}
.featured-product__img {
	/* The product's image */
	width: calc(8 * var(--sizing-factor)); /* This image defines the width of the entire panel */
	object-fit: cover;
	aspect-ratio: 1 / 1;
	border-radius: var(--spacing-02);
	box-shadow: var(--effect-shadow);
	
	@media only screen and (min-width: 480px) {
		width: calc(11 * var(--sizing-factor)); /* This image defines the width of the entire panel */
	}

	@media only screen and (min-width: 1440px) {
		width: 12vw;
	}
}
.featured-product__title {
	/* The product's name */
	height: 100%;
}
.featured-product__buttons,
.featured-product__button--view,
.featured-product__button--cart {
	width: 100%;
}
.featured-product__button--heart,
.featured-product__button--cart {
	display: none !important;

	@media only screen and (min-width: 480px) {
		display: inherit !important;
	}
}