.page-footer {
	/* The entire footer itself */
	display: grid;
	grid-template-areas: 
		"footer-logo footer-logo footer-logo"
		"footer-policies footer-links footer-contact"
		"footer-copyright footer-copyright footer-copyright"
	;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--layout-04);
	margin: var(--layout-02);
}
.logo--footer {
	/* The footer's logo - same as in the header but needs slightly different positioning */
	grid-area: footer-logo;
	margin: 0 auto;
}
/* Assigning grid areas */
	.footer-list--policies {
		grid-area: footer-policies;
	}
	.footer-list--links {
		grid-area: footer-links;
	}
	.footer-list--contact {
		grid-area: footer-contact;
	}
.footer-list {
	/* The lists of links, namely policies, links and contact details */
	align-items: center;
	gap: var(--spacing-02);
}
.footer-list * {
	/* Centring all the text in the lists */
	text-align: center;
	margin: 0;
}
.footer-copyright-bar {
	/* The panel at the bottom of the footer containing copyright and payment methods */
	grid-area: footer-copyright;
	flex-direction: row; /* This is specified here (instead of using a utility class) since this changes depending on resolution */
	align-items: center;
	justify-content: center;
	gap: var(--spacing-05);
	padding: var(--spacing-03);
}
.footer-copyright-bar__copyright {
	/* The copyright text itself */
	font-size: calc(0.8 * var(--font-size-factor));
	margin: 0;
	margin-top: 2px;
}
.footer-copyright-bar__cards {
	/* The payment methods (shown as payment card-like object) */
	flex-wrap: wrap;
	margin-top: 3px;
}