.page-header {
	/* The whole header */
	width: 100%;
	height: var(--spacing-07);
	z-index: 100;
	justify-content: space-between;
	position: relative;
	padding: 0 var(--spacing-02);
	margin: var(--spacing-02) 0;

	@media only screen and (min-width: 1024px) {
		padding: 0;
		margin: 0;
	}
}
.page-header > * {
	/* Making all the header's items the same height */
	height: 100%;
	align-items: center;
}


/* The brand logo */
.logo {
	grid-template-columns: auto 1fr;

	@media only screen and (max-width: 480px) {
		gap: 0;
	}
}
.logo img {
	width: var(--spacing-07);
}
.logo h4 {
	/* Vertically aligning the logo's text to the icon */
	margin-top: 6px;

	@media only screen and (max-width: 480px) {
		display: none;
	}
}

/* The navbar */
.header-divider {
	/* The small vertical lines separating the different sections of the navbar */
	height: 80%;
	width: 1px;
	background-color: var(--clr-text);
	border-radius: 0.5px;
	margin: auto var(--spacing-01); /* Making the divider vertically centred */
}
/* The icons that only appear on smaller resolutions (collapsed navbar) are in .collapsed-navbar, and the fully expanded navbar is .navbar */
.navbar {
	gap: var(--spacing-06); /* The navbar has larger spacing than most flexboxes */
}
.collapsed-navbar {
	gap: var(--spacing-03);
	display: none;

	@media only screen and (max-width: 1024px) {
		display: inherit;
	}
}
.collapsed-navbar__icon,
.navbar__icon {
	/* The icons in the navbar */
	height: var(--spacing-06);
	aspect-ratio: 1 / 1;

	&:hover,
	&:active {
		cursor: pointer;
	}
}
.navbar > *:not(.navbar__purchasing-icons) {
	display: none;

	@media only screen and (min-width: 1024px) {
		display: inherit;
	}
}
.navbar__drop-down {
	/* The page headings that have dropdown menus */
	column-gap: var(--spacing-02);
	padding: var(--spacing-02) 0;

	&:hover .header__dropdown-menu {
		visibility: visible;
		opacity: 1;
	}
}
.navbar__drop-down__arrow {
	/* The arrows next to the headings to indicate drop down menus */
	height: var(--spacing-03);
	margin-top: 3px;
}


/* The dropdown menu */
.header__dropdown-menu {
	/* This is the  */
	position: absolute;
	background: var(--clr-glass-dk);
	background-clip: padding-box;
	transform: translate(-45%);
	/* right: var(--layout-07); */
	top: var(--layout-03);
	height: auto;
	gap: var(--spacing-09);
	padding: var(--spacing-07);
	width: auto;
	box-shadow: var(--effect-shadow-lg);
	transition: opacity var(--effect-transition-duration), visibility var(--effect-transition-duration) cubic-bezier(1,.01,1,-0.1); /* This makes the fade-in and -out work  */
	opacity: 0;
	z-index: 1000;
	
	&:hover {
		visibility: visible;
		opacity: 1;
	}
}
.header__dropdown-menu__list {
	gap: var(--spacing-04);
	
	* {
		white-space: nowrap;
		margin-bottom: -6px;
	}
}
