/* Hero content */
	.hero-content__info {
		@media only screen and (min-width: 1024px) {
			/* The hero section's panel's width is relative to the viewport width */
			height: clamp(calc(30 * var(--sizing-factor--spacing)), 46vw, calc(34 * var(--sizing-factor--spacing)));
		}
	}
	.hero-content__image img {
		@media only screen and (min-width: 1024px) {
			rotate: 22deg;
		}
	}
	.hero-title-A-kerning {
		letter-spacing: -0.15rem;
		@media only screen and (min-width: 1024px) {
			letter-spacing: -0.325rem;
		}
	}


/* Brand selling points section */
	.selling-point-heading {
		/* This is the heading above the about us panel - this is just to give it some whitespace above it in resolutions smaller than desktop */
		margin-top: var(--spacing-04);
		
		@media only screen and (min-width: 1024px) {
			margin-top: 0;
		}
	}
	.selling-point-cont {
		/* This is the panel containing the 4 selling points */
		grid-template: repeat(4, auto) / 1fr;
		width: 100%;
		row-gap: var(--spacing-05);
		
		@media only screen and (min-width: 480px) {
			grid-template-columns: repeat(4, auto);
		}
	}
	.selling-point {
		/* This is the selling point itself */
		display: grid;
		column-gap: var(--spacing-04);
		grid-template-columns: auto 1fr;
		grid-template-areas: 
			" selling-point__logo  selling-point__title  "
			" selling-point__logo  selling-point__detail "
		;
	}
	.selling-point__logo {
		grid-area: selling-point__logo;
		height: var(--spacing-09);
	}
	.selling-point__title {
		grid-area: selling-point__title;
		margin: 0;
		margin-top: 3px;
	}
	.selling-point__detail {
		grid-area: selling-point__detail;
		margin: 0;
		@media only screen and (min-width: 1024px) {
		
		}
	}


/* About us section */
	.about-us-heading {
		/* This is the heading above the about us panel - this is just to give it some whitespace above it */
		margin-top: var(--spacing-04);
	}
	.about-us-cont {
		/* This is the panel containing all the about us info */
		gap: var(--layout-02);
		flex-direction: column;
		align-items: stretch;
		
		@media only screen and (min-width: 480px) {
			gap: var(--spacing-07);
			flex-direction: row;
		}
	}
	.about-us__image {
		/* This is the image for the about us section. It scales horizontally depending on the viewport width but its height is consistent */
		width: 100%;
		height: calc(17 * var(--sizing-factor));
		border-radius: var(--spacing-03);
		box-shadow: var(--effect-shadow);
		object-fit: cover;
		object-position: 50% 75%;
		
		@media only screen and (min-width: 480px) {
			width: clamp(calc(22 * var(--sizing-factor--spacing)), 45%, calc(50 * var(--sizing-factor--spacing)));
			height: calc(28 * var(--sizing-factor--spacing));
		}
	}
	.about-us__text {
		/* This is the about us text */
		align-items: center;
		text-align: center;
		gap: var(--spacing-02);
		
		* {
			margin: 0;
		}
		
		a {
			margin-top: var(--spacing-02);
		}

		@media only screen and (min-width: 480px) {
			align-items: flex-start;
			justify-content: space-between; 
			text-align: left;
			gap: 0;

			* {
				margin: var(--spacing-02) 0;
			}
		}
	}
	.extra-text {
		display: none;

		@media only screen and (min-width: 480px) {
			display: inherit;
		}
	}


/* Slideshow */
	.slideshow {
		/* This is the slideshow of the featured photos of the shop */
		overflow-x: scroll;
		width: 100%;
		padding: 0 var(--spacing-03);
		scrollbar-width: none; /* Hiding the scrollbar */
		scroll-snap-type: x mandatory; /* Making the scrolling snappy */
		flex-wrap: nowrap;

		@media only screen and (min-width: 1024px) {
			padding: 0 var(--layout-05);
		}
	}
	.slideshow__img {
		/* These are the individual images in the slideshow */
		scroll-snap-align: center;
		border-radius: var(--spacing-04);
		width: 96%;
		height: auto;

		@media only screen and (min-width: 1024px) {
			height: 60vh;
			width: auto;
		}
	}


/* Homepage reviews */
	.homepage-reviews__reviews-cont {
		/* This is the container for the 4 review columns */
		grid-template-columns: repeat(4, 1fr);
		overflow-x: scroll;
		scrollbar-width: none; /* Hiding the scrollbar */
	}
	.homepage-review {
		/* This is the individual review panel itself */
		flex-grow: 1;
		min-width: calc( 11 * var(--sizing-factor) );
		width: 43vw;
		
		@media only screen and (min-width: 480px) {
			width: unset;
		}
	}
	.homepage-review__name {
		/* This is the review's author's name */
		margin-bottom: -10px;
	}
	.homepage-review__stars-cont {
		/* This is the container for the stars in the review */
		justify-content: flex-start;
		gap: var(--spacing-01);
	}
	.homepage-review__stars-cont__star {
		/* This is the individual star */
		width: var(--spacing-06);
	}
	.homepage-review__text {
		/* This is the review text */
		margin: 0;
		height: 100%;
	}


/* Homepage services */
	.services {
		/* This is the container for all the services, laid out by a grid */
		grid-template-areas: 
		" services-support   services-support    "
		" services-tips      services-tips       "
		" services-faqs      services-directions "
		" services-blog      services-blog       "
		" services-shipping  services-affiliate  "
		;
		grid-template-columns: repeat(2, 1fr);
		
		@media only screen and (min-width: 480px) {
			grid-template-areas: 
				" services-support  services-support     services-tips      services-tips      "
				" services-faqs     services-directions  services-shipping  services-affiliate "
				" services-blog     services-blog        services-blog      services-blog      "
			;
			grid-template-columns: repeat(4, 1fr);
		}
	}
	.services__service {
		/* This is the individual service panel itself */
		align-items: center;
		gap: var(--spacing-06);
	}
	.services__service__header {
		/* This contains the service's icon, title, and tagline text (if it contains one) */
		align-items: center;

		h4 {
			text-align: center;
		}
	}
	.services__service__header > *,
	.services__service__content > * {
		margin: 0;
	}
	.services__service__content {
		/* This is the content of the service (doesn't include the tagline text or the button) */
		width: 100%;
	}
	.services__service__icon {
		/* This is the icon of the service (this is placed after after the rule giving all descendents of the header no margin so that this will override that rule) */
		width: var(--spacing-09);
		margin-bottom: var(--spacing-03);
	}
	/* These define which service is in which grid area */
		.services__service--support {
			grid-area: services-support;
		}
		.services__service--tips {
			grid-area: services-tips;
		}
		.services__service--faqs {
			grid-area: services-faqs;
		}
		.services__service--direction {
			grid-area: services-direction;
		}
		.services__service--shipping {
			grid-area: services-shipping;
		}
		.services__service--affiliate {
			grid-area: services-affiliate;
		}
		.services__service--blog {
			grid-area: services-blog;
		}
	.services__service--support .bullets-list {
		/* This splits the bullet points in the support service into 2 columns */
		@media only screen and (min-width: 480px) {
			columns: 2;
		}
	}
	.services__service--blog .services__service__content {
		flex-direction: column;
		
		@media only screen and (min-width: 480px) {
			flex-direction: row;
		}
	}