:root {
	/* The space unit used - adjusting this one value will adjust all the others accordingly */
	--sizing-factor: 1rem;

	/* The website uses two scales: 
		a spacing scale, used for smaller and more refined spacing, particularly within components;
		and a layout scale, used for larger spacing, particularly positioning components on a page */
	/* The space units for each scale are different so that they can be independently adjusted if needed */
	--sizing-factor--spacing: var(--sizing-factor);
	--sizing-factor--layout:  var(--sizing-factor);

	/* SPACING SCALE */		
		--spacing-01: calc( 0.25  * var(--sizing-factor--spacing) ) /* 4px */;
		--spacing-02: calc( 0.5   * var(--sizing-factor--spacing) ) /* 8px */;
		--spacing-03: calc( 0.75  * var(--sizing-factor--spacing) ) /* 12px */;
		--spacing-04: calc( 1     * var(--sizing-factor--spacing) ) /* 16px */; 
		--spacing-05: calc( 1.5   * var(--sizing-factor--spacing) ) /* 24px */;
		--spacing-06: calc( 2     * var(--sizing-factor--spacing) ) /* 32px */;
		--spacing-07: calc( 3     * var(--sizing-factor--spacing) ) /* 48px */;
		
	/* LAYOUT SCALE */
		--layout-01: calc( 1    * var(--sizing-factor--layout) ) /* 16px */;
		--layout-02: calc( 1.5  * var(--sizing-factor--layout) ) /* 24px */;
		--layout-03: calc( 2    * var(--sizing-factor--layout) ) /* 32px */;
		--layout-04: calc( 3    * var(--sizing-factor--layout) ) /* 48px */; 
		--layout-05: calc( 4    * var(--sizing-factor--layout) ) /* 64px */;
		--layout-06: calc( 6    * var(--sizing-factor--layout) ) /* 96px */;
}



/* Universal styles for sections */
	section,
	body > main, /* There are some <main> tags which are within other sections, so they shouldn't necessarily adhere to these styles, hence body > main */
	figure {
		width: 100%;
		display: flex;
		flex-direction: column;
		overflow: visible;
		margin: 0;
	}
	section {
		padding: 0 var(--layout-04);
		gap: var(--layout-02);
	}
	body > main {
		/* There are some <main> tags which are within other sections, so they shouldn't necessarily adhere to these styles, hence body > main */
		margin-bottom: var(--layout-04);
		gap: var(--layout-04);
		background-color: var(--clr-background);
		border-radius: 0 0 var(--layout-05) var(--layout-05);
	}
	.section--highlighted {
		padding: var(--layout-04);
		border-radius: var(--layout-05);
		/* background-color: var(--clr-gradients-aqua-dk); */ /* TODO make gradients */
		background: url(/assets/backgrounds/gradient-background-desktop.svg);
		background-size: cover;
		box-shadow: var(--effect-highlighted-panel-shadow);
		backdrop-filter: blur(var(--effect-highlighted-panel-blur));
		
	}
	.section--hero {
		/* This is the section at the very top of the page */
		border-radius: 0 0 var(--layout-05) var(--layout-05);
	}
	section > h2 {
		width: 100%;
		text-align: center;
	}


/* Hero section */
	.hero-content {
		position: relative;
		width: 100%;
		overflow: visible;
	}
	.hero-content__info {
		/* The hero section's panel's width is relative to the viewport width */
		width: clamp(calc(34.5 * var(--sizing-factor--spacing)), 60%, calc(50 * var(--sizing-factor--spacing)));
		height: clamp(calc(30 * var(--sizing-factor--spacing)), 46vw, calc(34 * var(--sizing-factor--spacing)));
	}
	.hero-content__image {
		/* The hero image has special positioning in relation to the panel as it slightly overlaps */
		position: absolute;
		width: clamp(calc(24.9 * var(--sizing-factor)), 44%, calc(37.25 * var(--sizing-factor)));
		height: 100%;
		top: calc(-1 * var(--layout-02));
		right: 0;
		margin: 0;
	}
	.hero-content__image img {
		width: 100%;
		rotate: 22deg;
		margin: auto;
	}
	.hero-title-A-kerning {
		letter-spacing: -0.325rem;
	}