/* Importing the other CSS files */
/* Note: the components stylesheet is included at the end of this stylesheet so the component styles have higher hierarchy than those in this stylesheet */
@import url(animations.css);
@import url(colours.css);
@import url(effects.css);
@import url(layout.css);
@import url(typography.css);
@import url(utilities.css);
@import url(components.css);
@import url(header.css);
@import url(footer.css);
@import url(featured-product.css);

/* Making the site use border-box sizing by default */
:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-user-drag: none;
}

/* Making the webpage not scroll horizontally */
html {
	overflow-x: hidden;
}

/* Making the body not have a margin by default */
body {
	margin: 0;
	background-color: var(--clr-background-lt);
}






