/* Importing the other CSS files */
@import url(animations.css);
@import url(colours.css);
@import url(components.css);
@import url(layout.css);
@import url(typography.css);
@import url(utilities.css);

/* Making the site use border-box sizing by default */
:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

/* Making the body not have a margin by default */
body {
	margin: 0;
}

/* Removing the default stylings of links */
a {
	color: inherit;
	text-decoration: none;
}