/* Importing the other CSS files */
/* Basic definitions files */
@import url(breakpoints.css);
@import url(layout.css);
@import url(colours.css);
@import url(effects.css);
@import url(typography.css);
@import url(animations.css);
/* Reusable components and elements */
@import url(components.css);
@import url(buttons.css);
@import url(utilities.css);
/* Component-specific stylesheets */
@import url(header.css);
@import url(footer.css);
@import url(fullscreen-menu.css);
@import url(featured-product.css);
@import url(product-listed.css);

/* Making the site use border-box sizing by default */
:root {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	-webkit-user-drag: none; /* This won't work in firefox, but it's not really that big a deal */
}

html {
	overflow-x: hidden; /* Making the webpage not scroll horizontally */
	scroll-behavior: smooth; /* Making the webpage scroll smoothly to an element when required */
}

/* Making the body not have a margin by default */
body {
	margin: 0;
	background-color: var(--clr-background-lt);
}
/* If the page has a footer underneath a normal section (not a highlighted section), make the page background a different colour to give the illusion of switching which elements the border radius is on */
body.footer-in-front {
	background-color: var(--clr-background);
}
