.flex--horizontal {
	/* Horizontal flexbox */
	display: flex;
	flex-direction: row !important;
}

.flex--vertical {
	/* Vertical flexbox */
	display: flex;
	flex-direction: column !important;
}

.grid {
	/* Grid layout */
	display: grid;
}

.standard-spacing {
	/* The normal spacing (gap) used by most flexboxes and grids */
	gap: var(--spacing-03);
}


.no-padding{
	/* Removes all padding from an element */
	padding: 0;
}
.no-padding--horizontal {
	/* Removes the horizontal padding from an element */
	padding-left: 0;
	padding-right: 0;
}


.visibility-none {
	visibility: hidden;
}










