.flex {
	display: flex;
}

.flex--horizontal {
	flex-direction: row;
}

.flex--vertical {
	flex-direction: column;
}

.flex--justify-between {
	justify-content: space-between;
}


.grid {
	display: grid;
}

.gap--standard {
	gap: var(--spacing-s);
}


.no-padding{
	padding: 0;
}
.no-padding--horizontal {
	padding-left: 0;
	padding-right: 0;
}
